<a href="https://colab.research.google.com/github/qcasey305/PYTH225_Homework/blob/master/PYTH_225_loops_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LOOPS

## BASICS

### P1.PY

In [0]:
"""
Odds & Evens
"""

# Use a loop to make a list of all odd numbers between 1 and 10 and another list with all the evens. When done, print the lists.
odds = []

for num in range (1,11):
  if num % 2 != 0:
    odds.append(num)
print(odds)

evens = []

for num in range (1,11):
  if num % 2 == 0:
    evens.append(num)
print(evens)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]



### P2.PY

In [0]:
"""
Lists with Duplicates
"""

# First, print list a below as it is now.

a = [2, 4, 10, 20, 5, 2, 20, 4]
b = [13, 2, 25, 20, 4, 8]
print(a)
# Using a loop, remove the duplicate items from list a and print out the updated list.

a2 = []
for num in a:
  if num not in a2:
    a2.append(num)
print(a2)


# Using a loop, merge list b into list a without adding any duplicates.


for num in b:
  if num not in a2:
    a2.append(num)
print(a2)

[2, 4, 10, 20, 5, 2, 20, 4]
[2, 4, 10, 20, 5]
[2, 4, 10, 20, 5, 13, 25, 8]



### P3.PY

In [0]:
"""
Temperature Conversions
"""

# You're studying climate change, and over the last 3 years, you've recorded the temperature at noon every day in degrees Fahrenheit (F). The var sampleF holds a portion of those recordings. 

sampleF = [71.6, 82.4, 91.4, 107.6, 125.6]

# Convert each item in this list into degrees Celsius and add the results to a dict called sample_temps so that the conversion of each day's temperature is easily accessible. For reference, the conversion equation between F and C is:
# Celsius = (Fahrenheit - 32) * 5.0/9.0

sample_temps = []
for temp in sampleF:
  sample_temps.append((temp -32)*5.0/9.0)
print(sample_temps)

[21.999999999999996, 28.000000000000004, 33.0, 42.0, 52.0]

### P4.PY

In [9]:
"""
Control Flow - I

Print the numbers in some range until you find a multiple of 7. 
At that point, print "___ is the first multiple of 7 in this 
range." If the range does NOT include any multiples of 7, after 
you've printed the last number in the range, print "There are 
no multiples of 7 in this range.
"""
for i in range (100,200):
  print(i)
  if i % 7 == 0:
    print (i, "is the first multiple of 7 in this range.")
    break
else:
    print('There are no multiples of 7 in this range.')

100
101
102
103
104
105
105 is the first multiple of 7 in this range.



### P5.PY

In [17]:
"""
Control Flow II

Write a Python program that prints all the numbers from 
0 to 6 except 3 and 6. Note: Use a 'continue' statement. 
"""
for i in range (0,6):
  if i % 3 == 0:
    continue
  print(i)

1
2
4
5

## FACTORS



### P1.PY

In [0]:
"""
Factorial
"""

# Find the factorial of a number input by a user. Then print out the factors within the factorial and then print out the actual numeric answer. Hint: The formula for a factorial is n! = (n-1)*n.


# Example output:
"""
8! = 8*7*6*5*4*3*2*1
8! = 40320
"""

user_input = input('Enter a number to find its factorial: ')
num = int(user_input)
product = 1
for i in range (1, num +1):
  product = product * i
print(product)

Enter a number to find its factorial: 8
40320



### P2.PY

In [19]:
"""
Factors
"""

# Find all factors of a number that a user inputs and print out 'The factors of <the_user_input_number> are: '.

user_input = input('Enter a number to find its factors: ')
num = int(user_input)

for i in range(1, num + 1):
  if num % i == 0:
    print(i)

Enter a number to find its factors: 12
1
2
3
4
6
12



### P3.PY

In [22]:
"""
GCD
"""

# Find the greatest common denominator (GCD) of two number input by a user. Then print out 'The GCD of <first number> and <second number> is <your result>.'

print('Enter two numbers to find their greatest common denominator.')

user_input1 = input('First number: ')
user_input2 = input('Second number: ')

num_1 = int(user_input1)
num_2 = int(user_input2)


factors_num1 =[]

for i in range(1, num_1+1):
  if num_1 % i == 0:
    factors_num1.append(i)
print(factors_num1)


factors_num2 = []

for i in range(1, num_2+1):
  if num_2 % i == 0:
    factors_num2.append(i)
print(factors_num2)

set_1 = set(factors_num1)
set_2 = set(factors_num2)

#print(set_a, set_b)
intersect = set_1.intersection(set_2)
print(list(intersect).pop())
#pop here will remove from the end then return that value, but the original list is changed (removes that value) to keep that list in tact, use [-1] 
list_intersect = sorted(list(intersect))

# → convert set to list then sort immediately to find largest one, then 'pop' it!

Enter two numbers to find their greatest common denominator.
First number: 45
Second number: 60
[1, 3, 5, 9, 15, 45]
[1, 2, 3, 4, 5, 6, 10, 12, 15, 20, 30, 60]
15

In [0]:
a = 15
b = 12

factors_a = []
import math
for i in range (1, math.sqrt(a)+1):
    if a % i == 0:
      factors_a.append(i)
      factors_a.append(a/i)
factors_b =[]
for j in range (1, math.sqrt(b)+1):
    if a % i == 0:
      factors_a.append(j)
      factors_a.append(b/i)

print(set_a, set_b)
intersect = set_b.intersection(set_a)
print(list(intersect).pop())
#pop here will remove from the end then return that value, but the original list is changed (removes that value) to keep that list in tact, use [-1] 
list_intersect = sorted(list(intersect))

ERROR! Session/line number was not unique in database. History logging moved to new session 60

TypeError: ignored

## SHAPES

### P1.PY

In [0]:
"""
Build a Triangle I 

Use a FOR loop to print a triangle of stars that looks like this:

*
**
***
****
*****

"""

### P2.PY

In [0]:
"""
Build a Triangle II

Use a WHILE loop to print a triangle of stars that looks like this:

*
**
***
****
*****

"""



### P3.PY

In [0]:
"""
Build a Pyramid I

Use a FOR loop to print a pyramid of stars that looks like this:

    *
   ***
  *****
 *******
*********

"""

### P4.PY

In [18]:
"""
Build a Pyramid II

Use a WHILE loop to print a pyramid of stars that looks like this:

    *
   ***
  *****
 *******
*********

"""
def triangle(n): 
      
    # number of spaces 
    k = 2*n - 2
  
    # outer loop to handle number of rows 
    for i in range(0, n): 
      
        # inner loop to handle number spaces 
        # values changing acc. to requirement 
        for j in range(0, k): 
            print(end=" ") 
      
        # decrementing k after each loop 
        k = k - 1
      
        # inner loop to handle number of columns 
        # values changing acc. to outer loop 
        for j in range(0, i+1): 
          
            # printing stars 
            print("* ", end="") 
      
        # ending line after each row 
        print("\r") 
  
n = 5
triangle(n)

        *
       * *
      * * *
     * * * *
    * * * * *



### P5.PY

In [15]:
"""
Build a Diamond I

Use a FOR loop to print a diamond of stars that looks like this:

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
"""

max_ = 9

for i in range(1, 10, 2):
  diff = int((max_ - i) / 2)
  spaces = [" "] * diff
  stars = ["*"] * i
  print("".join(spaces) + "".join(stars) + "".join(spaces))

for i in range(9, 0, -2):
  diff = int((max_ - i) / 2)
  spaces = [" "] * diff
  stars = ["*"] * i
  print("".join(spaces) + "".join(stars) + "".join(spaces))

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

### P6.PY

In [0]:
"""
Build a Diamond II

Use a WHILE loop to print a diamond of stars that looks like this:

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
"""

while i < 10:
  diff = int((max_ - i) / 2)
  spaces = [" "] * diff
  stars = ["*"] * i
  print("".join(spaces) + "".join(stars) + "".join(spaces))
  i+=1
while i < 9:
  diff = int((max_ - i) / 2)
  spaces = [" "] * diff
  stars = ["*"] * i
  print("".join(spaces) + "".join(stars) + "".join(spaces))
  i+=1

#unsure what I am doing wrong here...

## LOOP_CHALLENGES

### P1.PY

In [5]:
"""
Valid Passwords
"""

# Check the validity of password input by users based on the below security requirements: At least 1 letter between [a-z] and 1 letter between [A-Z].
"""
# At least 1 letter between [a-z] and 1 letter between [A-Z].
#At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters.
"""


# Hint: Look up the documentation for the "re" library and it's ".search()" method.
import re
p = input("Input your password: ")
flag = None

for password in p:
  if (len(p) not in range (6,16)):
    flag = False
    break
  elif not re.search('[a-z]',p):
    flag = False
    break
  elif not re.search('[A-Z]',p):
    flag = False
    break
  elif not re.search('[0-9]',p):
    flag = False
    break
  elif not re.search('[$#@]',p):
    flag = False
    break
  else:
    flag = True
    print('Password valid')
    break
if flag == False:
    print('Password Invalid')

Input your password: a!
Password Invalid



### P2.PY

In [14]:
"""
Prime Numbers I
"""

# Check if a number input by a user is prime or not. If it is NOT a prime number, print out that it is not a prime number. If it IS a prime number, print out that it is a prime number and give an example of two of its factors. Hint: Prime numbers must be greater than 1.

# Example of output for a NON-prime:
# 12 is not a prime number
# For example, 2 x 6 = 12



user_input = input("Enter a number to check if it's prime: ")
num = int(user_input)
if num > 1:
  for i in range (2,num):
    if num % i == 0:
      print(num,'is not a prime number')
      print(i,'x',int((num/i)),'=',num)
      break
    else:
      print(num,'is a prime number')

Enter a number to check if it's prime: 12
12 is not a prime number
2 x 6 = 12