<a href="https://colab.research.google.com/github/qcasey305/PYTH225_Homework/blob/master/PYTH_225_basic_data_types_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## EASY

### P1.PY

In [0]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

initial = None
print(initial)

None



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.

a = 5 #Quinns favorite number
print(a)
# Create another variable that represents your favorite color, and do the same steps as above.

b = "blue" #my favorite color is blue
print(b)

5
blue



### P3.PY

In [0]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of lyrics from your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.
#pycharm python

fav_song = """Hey Jude, don't make it bad
Take a sad song and make it better
Remember to let her into your heart
Then you can start to make it better"""

# Hey Jude
# The Beatles

print(fav_song)

Hey Jude, don't make it bad
Take a sad song and make it better
Remember to let her into your heart
Then you can start to make it better

## OPERATORS

### P1.PY

In [0]:
"""
Game Show Score
"""

# Imagine the var below represents the latest score of a competitor on a game show. As this person plays, you need to update their score to reflect gains and losses in points. Each math operation below dictates the change in the competitor's score to be made after each of his or her actions.

# Complete the below math operations and print the results to show the changes in the competitor's score throughout the game.

latest_score = 100
print(latest_score)

# Add 50

latest_score += 50
print(latest_score)


# Subtract 90

latest_score -= 90
print(latest_score)

# Multiply 10

latest_score *= 10
print(latest_score)

# Divide 150

latest_score /= 150
print(latest_score)

# Modulus 3
latest_score %= 3
print(latest_score)

100
150
60
600
4.0
1.0



### P2.PY

In [0]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. 
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling." 

var1 = "I am tired "
var2 = "and I want to go to bed"
var3 = var1 +var2
print(var3)

I am tired and I want to go to bed



### P3.PY

In [0]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together without causing any Type Errors. 

# A)
a = 0
b = 2

print (a + b)

# B)
c = '0'
d = '2'

print(int(c+d))

# C)
e = '0'
f = 2

print(int(e)+f)

2
2
2



### P4.PY

In [0]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.
#truth tables
# A)
a = True
b = True

print (bool(a+b))

# B)
c = False
d = False

print (bool(c+d))

# C)
e = True
f = False

print (bool(e+f))

True
False
True

## TYPECASTING

### P1.PY

In [0]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22


five = float(5)
print(type(five))

five = int(5)
print(type(five))

zero = float(0)
print(type(zero))

zero = int(0)
print(type(zero))

neg_8 = float(-8)
print(type(neg_8))

neg_8 = int(-8)
print(type(neg_8))


neg_22 = float(-22)
print(type(neg_22))

neg_22 = int(-22)
print(type(neg_22))

<class 'float'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'int'>



### P2.PY

In [0]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False




five = str(5)
print(type(five))

five = int(5)
print(type(five))



zero = str(0)
print(type(zero))

zero = int(0)
print(type(zero))

T = str(True)
print(type(T))

T = bool(True)
print(type(T))

F = str(False)
print(type(F))

F = bool(False)
print(type(F))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'bool'>



### P3.PY

In [0]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0


# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.


# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.


# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.


# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10



### P4.PY

In [0]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
T = True
F = False

one = bool(1)
print(type(one))

zero = bool(0)
print(type(zero))

T = bool(True)
print(type(T))

F = bool(False)
print(type(F))


# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.

one = int(1)
print(type(one))

zero = int(0)
print(type(zero))

# C) Use typecasting to turn the latest values for variables 'T' and 'F' back into boolean values. Print the result and the datatype of the result.


#they are already booleans???

<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'int'>
<class 'int'>

## SHOPPING_LIST

### P1.PY

In [21]:
"""
Shopping List Calculator I
"""

# Create five variables,
# set them to strings that represent 5 common shopping list items


item_name_1 = 'milk'
item_name_2 = 'eggs'
item_name_3 = 'bread'
item_name_4 = 'chicken'
item_name_5 = 'rice'

# Create five more variables,
# set them to floats that represent the prices of each of the items above

item_price_1 = 2.40
item_price_2 = 3.29
item_price_3 = 4.90
item_price_4 = 8.90
item_price_5 = 2.50

# Create five more variables,
# set them to ints that represent the quantity of each of the items above
item_quant_1 = 2
item_quant_2 = 4
item_quant_3 = 1
item_quant_4 = 3
item_quant_5 = 2

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_price_1


print(f"{item_quant_1} {item_name_1} = {item_price_1*item_quant_1}")

print(f"{item_quant_2} {item_name_2} = {item_price_2*item_quant_2}")

print(f"{item_quant_3} {item_name_3} = {item_price_3*item_quant_3}")

print(f"{item_quant_4} {item_name_4} = {item_price_4*item_quant_4}")

print(f"{item_quant_5} {item_name_5} = {item_price_5*item_quant_5}")


#how do i get it to say = price??

2 milk = 4.8
4 eggs = 13.16
1 bread = 4.9
3 chicken = 26.700000000000003
2 rice = 5.0



### P2.PY

In [24]:
"""
Shopping List Calculator II
"""

# Rewrite p1, but this time use the input() command to solicit user input for name, price, quantity. Here's how it works:

#item_name_1 = input('Name your first item: ') 
	# ^ this will ask user to input value of item_name_1

# use input() function and ask user to name items
item_name_1 = None
item_name_2 = None
item_name_3 = None
item_name_4 = None
item_name_5 = None


item_name_1 = input('Name your first item: ') 

item_name_2 = input('Name your second item: ') 

item_name_3 = input('Name your third item: ') 

item_name_4 = input('Name your fourth item: ') 

item_name_5 = input('Name your fifth item: ') 

# use input() function and ask user to name prices
item_price_1 = None
item_price_2 = None
item_price_3 = None
item_price_4 = None
item_price_5 = None


item_price_1 = float(input('Name your price: ') )

item_price_2 = float(input('Name your price: ') )

item_price_3 = float(input('Name your price: ') )

item_price_4 = float(input('Name your price: ') )

item_price_5 = float(input('Name your price: ') )

# use input() function and ask user to name quants
item_quant_1 = None
item_quant_2 = None
item_quant_3 = None
item_quant_4 = None
item_quant_5 = None

item_quant_1 = int(input('Name your quantity: ') 

item_quant_2 = int(input('Name your quantity: ')  
#i am getting an error here for syntax and I dont understand why? 
item_quant_3 = int(input('Name your quantity: ')  

item_quant_4 = int(input('Name your quantity: ') 

item_quant_5 = int(input('Name your quantity: ') 

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

# JUST REMEMBER: now this will be defined by the user!!

print(f"{item_quant_1} {item_name_1} = {item_price_1*item_quant_1}")
print(f"{item_quant_2} {item_name_2} = {item_price_2*item_quant_2}")
print(f"{item_quant_3} {item_name_3} = {item_price_3*item_quant_3}")
print(f"{item_quant_4} {item_name_4} = {item_price_4*item_quant_4}")
print(f"{item_quant_5} {item_name_5} = {item_price_5*item_quant_5}")

SyntaxError: ignored